.LateralMenu{
    display: none;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    z-index: 100;
    width: 70px;
    height: 270px;
    position: fixed;
    top: 200px;
    left: 0;
    border-radius: 10px;
    color: white;
    
    background-color: rgba(88, 88, 88, 0.507);
    text-decoration: none;
    & svg{
        height: 30px;
        width: auto;
        fill: white;
    }
    cursor: pointer;
}