.PrivacyPolicy{
    height: 100vh;
    background-color: rgb(19, 107, 107);
    color: white;
    display: flex;
    justify-content: center;
    
}
.TextInTabs{
    margin: 0;
    padding: 0%;
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box{
    display: flex;
    justify-content: center;
}