.Section2{
    min-height: 500px;
    height: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    
}
.section2_content{
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: -200px;
    justify-content: space-evenly;
}
li{
    text-decoration: none;
    list-style: none;
}

.service_img{
    height: 50px;
    width: auto;
}