.cubeA{
        width: 70px;
        height: 70px;
        transform-style:preserve-3d;
        transform: rotateX(-10deg) rotateY(-10deg) ; 
        /* animation: spin 8s infinite linear; */
        position: fixed;
        bottom: 450px;
        right: 100px;
        & div{
            position: absolute;
            width: 70px;
            height: 70px;
            opacity: 0.8;
        }
        & .frontA{
            transform: translateZ(35px);
            background: linear-gradient(180deg, #1c58ff, #9fddff);
            & .linkedin{
                opacity: 1;
                fill: white;
            }
        }
        & .backA{
            transform: translateZ(-35px);   
            background: linear-gradient(45deg, #1c58ff, #9fddff);
        }
        & .topA{
            transform: rotateX(90deg) translateZ(35px);
            background: linear-gradient(0deg, #1c58ff, #9fddff);
        }
        & .bottomA{
            transform: rotateX(90deg) translateZ(-35px);
            background: linear-gradient(45deg, #1c58ff, #9fddff);
        }
        & .leftA{
            transform: rotateY(90deg)translateZ(35px);
            background: linear-gradient(45deg, #1c58ff, #9fddff);
        }
        & .rightA{
            transform: rotateY(90deg)translateZ(35px);
            background: linear-gradient(90deg, #1c58ff, #9fddff);
        }
    
} 

