.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    & .optionsContainer{
        display: none;
    }
    & .cube {
      width: 100px;
      height: 100px;
      transform-style:preserve-3d;
      animation: spin 8s infinite linear;
      position: fixed;
      bottom: 100px;
      right: 100px;
      & div{
          position: absolute;
          width: 100px;
          height: 100px;
          opacity: 0.8;
      }
      & .front{
          transform: translateZ(50px);
          background: linear-gradient(45deg, #1c58ff, #0cea1e);
      }
      & .back{
          transform: translateZ(-50px);   
          background: linear-gradient(45deg, #d4ff00, #efb514);
      }
      & .top{
          transform: rotateX(90deg) translateZ(50px);
          background: linear-gradient(45deg, #2fff00, #bdd846);
      }
      & .bottom{
          transform: rotateX(90deg) translateZ(-50px);
          background: linear-gradient(45deg, #ff00f2, #9500ff);
      }
      & .left{
          transform: rotateY(90deg)translateZ(50px);
          background: linear-gradient(45deg, #ff0000, #ff00d9);
      }
      & .right{
          transform: rotateY(90deg)translateZ(-50px);
          background: linear-gradient(45deg, #ffb300, #f90404);
      }
    }
    & :hover{
        cursor: pointer;
    }
}
@keyframes spin{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.cubeA{
    width: 70px;
    height: 70px;
    transform-style:preserve-3d;
    transform: rotateX(-10deg) rotateY(-10deg) ; 
    /* animation: spin 8s infinite linear; */
    position: fixed;
    bottom: 450px;
    right: 100px;
    & div{
        position: absolute;
        width: 70px;
        height: 70px;
        opacity: 0.8;
    }
    & .frontA{
        transform: translateZ(35px);
        background: linear-gradient(180deg, #1c58ff, #9fddff);
        & .linkedin{
            opacity: 1;
            fill: white;
        }
    }
    & .backA{
        transform: translateZ(-35px);   
        background: linear-gradient(45deg, #1c58ff, #9fddff);
    }
    & .topA{
        transform: rotateX(90deg) translateZ(35px);
        background: linear-gradient(0deg, #1c58ff, #9fddff);
    }
    & .bottomA{
        transform: rotateX(90deg) translateZ(-35px);
        background: linear-gradient(45deg, #1c58ff, #9fddff);
    }
    & .leftA{
        transform: rotateY(90deg)translateZ(35px);
        background: linear-gradient(45deg, #1c58ff, #9fddff);
    }
    & .rightA{
        transform: rotateY(90deg)translateZ(35px);
        background: linear-gradient(90deg, #1c58ff, #9fddff);
    }

} 


.cubeB{
    width: 70px;
    height: 70px;
    transform-style:preserve-3d;
    transform: rotateX(-10deg) rotateY(-10deg); 

    /* animation: spin 8s infinite linear; */
    position: fixed;
    bottom: 350px;
    right: 100px;
& div{
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0.8;
}
& .frontB{
    transform: translateZ(35px);
    background: linear-gradient(45deg, #0cea1e, #dbea0c);
    & .facebook{
        opacity: 1;
        fill: white;
    }
}
& .backB{
    transform: translateZ(-35px);   
    background: linear-gradient(45deg, #0cea1e, #dbea0c);
}
& .topB{
    transform: rotateX(90deg) translateZ(35px);
    background: linear-gradient(45deg, #0cea1e, #dbea0c);
}
& .bottomB{
    transform: rotateX(90deg) translateZ(-35px);
    background: linear-gradient(45deg, #0cea1e, #dbea0c);
}
& .leftB{
    transform: rotateY(90deg)translateZ(35px);
    background: linear-gradient(45deg, #0cea1e, #dbea0c);
}
& .rightB{
    transform: rotateY(90deg)translateZ(-35px);
    background: linear-gradient(45deg, #1c58ff, #dbea0c);
}

}
.cubeC{
    width: 70px;
    height: 70px;
        transform-style:preserve-3d;
        transform: rotateX(-10deg) rotateY(-10deg); 

        /* animation: spin 8s infinite linear; */
        position: fixed;
        bottom: 250px;
        right: 100px;
    & div{
        position: absolute;
        width: 70px;
        height: 70px;
        opacity: 0.8;
    }
    & .frontC{
        transform: translateZ(35px);
        background: linear-gradient(45deg, #dbea0c, #e30cea);
        & .instagram{
            opacity: 1;
            fill: white;
        }
    }
    & .backC{
        transform: translateZ(-35px);   
        background: linear-gradient(45deg, #dbea0c, #e30cea);
    }
    & .topC{
        transform: rotateX(90deg) translateZ(35px);
        background: linear-gradient(0deg, #e30cea,#dbea0c);
    }
    & .bottomC{
        transform: rotateX(90deg) translateZ(-35px);
        background: linear-gradient(45deg, #dbea0c, #e30cea);
    }
    & .leftC{
        transform: rotateY(90deg)translateZ(35px);
        background: linear-gradient(45deg, #e30cea,#dbea0c );
    }
    & .rightC{
        transform: rotateY(90deg)translateZ(-35px);
        background: linear-gradient(45deg, #dbea0c, #e30cea);
    }
}