.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    & .optionsContainer{
        display: none;
    }
    & .cube {
      width: 50px;
      height: 50px;
      transform-style:preserve-3d;
      animation: spin 8s infinite linear;
      position: fixed;
      bottom: 100px;
      right: 100px;
      & div{
          position: absolute;
          width: 50px;
          height: 50px;
          opacity: 0.8;
      }
      & .front{
          transform: translateZ(25px);
          background: linear-gradient(45deg, #1c58ff, #0cea1e);
      }
      & .back{
          transform: translateZ(-25px);   
          background: linear-gradient(45deg, #ff00f2, #9500ff);
      }
      & .top{
          transform: rotateX(90deg) translateZ(25px);
          background: linear-gradient(45deg, #1c58ff, #0cea1e);
      }
      & .bottom{
          transform: rotateX(90deg) translateZ(-25px);
          background: linear-gradient(45deg, #ff00f2, #9500ff);
      }
      & .left{
          transform: rotateY(90deg)translateZ(25px);
          background: linear-gradient(45deg, #ff00f2, #9500ff);
      }
      & .right{
          transform: rotateY(90deg)translateZ(-25px);
          background: linear-gradient(45deg, #1c58ff, #0cea1e);
      }
    }
    & :hover{
        cursor: pointer;
    }
}
@keyframes spin{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.cubeA{
    width: 50px;
    height: 50px;
    transform-style:preserve-3d;
    transform: rotateX(-10deg) rotateY(-10deg) ; 
    /* animation: spin 8s infinite linear; */
    position: fixed;
    bottom: 350px;
    right: 100px;
    & div{
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: 0.8;
    }
    & .frontA{
        transform: translateZ(25px);
        background: linear-gradient(180deg, #1c58ff, #31b7ff);
        & .linkedin{
            opacity: 1;
            fill: white;
        }
    }
    & .backA{
        transform: translateZ(-25px);   
        background: linear-gradient(45deg, #1c58ff, #31b7ff);
    }
    & .topA{
        transform: rotateX(90deg) translateZ(25px);
        background: linear-gradient(0deg, #1c58ff, #31b7ff);
    }
    & .bottomA{
        transform: rotateX(90deg) translateZ(-25px);
        background: linear-gradient(45deg, #1c58ff, #31b7ff);
    }
    & .leftA{
        transform: rotateY(90deg)translateZ(25px);
        background: linear-gradient(45deg, #1c58ff, #31b7ff);
    }
    & .rightA{
        transform: rotateY(90deg)translateZ(25px);
        background: linear-gradient(90deg, #1c58ff, #31b7ff);
    }

} 


.cubeB{
    width: 50px;
    height: 50px;
    transform-style:preserve-3d;
    transform: rotateX(-10deg) rotateY(-10deg); 

    /* animation: spin 8s infinite linear; */
    position: fixed;
    bottom: 280px;
    right: 100px;
& div{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.8;
}
& .frontB{
    transform: translateZ(25px);
    background: linear-gradient(45deg, #0cd4ea, #0091ff);
    & .facebook{
        opacity: 1;
        fill: white;
    }
}
& .backB{
    transform: translateZ(-25px);   
    background: linear-gradient(45deg, #0cd4ea, #0091ff);
}
& .topB{
    transform: rotateX(90deg) translateZ(25px);
    background: linear-gradient(90deg, #0cd4ea, #0091ff);
}
& .bottomB{
    transform: rotateX(90deg) translateZ(-25px);
    background: linear-gradient(45deg, #0cd4ea, #0091ff);
}
& .leftB{
    transform: rotateY(90deg)translateZ(25px);
    background: linear-gradient(90deg, #0cd4ea, #0091ff);
}
& .rightB{
    transform: rotateY(90deg)translateZ(-25px);
    background: linear-gradient(90deg, #0cd4ea, #0091ff);
}

}
.cubeC{
    width: 50px;
    height: 50px;
        transform-style:preserve-3d;
        transform: rotateX(-10deg) rotateY(-10deg); 

        /* animation: spin 8s infinite linear; */
        position: fixed;
        bottom: 210px;
        right: 100px;
    & div{
        position: absolute;
        width: 50px;
        height: 50px;
        opacity: 0.8;
    }
    & .frontC{
        transform: translateZ(25px);
        background: linear-gradient(45deg, #ff977a, #e30cea);
        & .instagram{
            opacity: 1;
            fill: white;
        }
    }
    & .backC{
        transform: translateZ(-25px);   
        background: linear-gradient(45deg, #ff977a, #e30cea);
    }
    & .topC{
        transform: rotateX(90deg) translateZ(25px);
        background: linear-gradient(0deg, #e30cea,#ff977a);
    }
    & .bottomC{
        transform: rotateX(90deg) translateZ(-25px);
        background: linear-gradient(45deg, #ff977a, #e30cea);
    }
    & .leftC{
        transform: rotateY(90deg)translateZ(25px);
        background: linear-gradient(45deg, #e30cea,#ff977a );
    }
    & .rightC{
        transform: rotateY(90deg)translateZ(-25px);
        background: linear-gradient(45deg, #ff977a, #e30cea);
    }
}