.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .cube {
      width: 100px;
      height: 100px;
      transform-style:preserve-3d;
      animation: spin 8s infinite linear;
      position: fixed;
      bottom: 100px;
      right: 100px;
      & div{
          position: absolute;
          width: 100px;
          height: 100px;
          opacity: 0.8;
      }
      & .front{
          transform: translateZ(50px);
          background: linear-gradient(45deg, #1c58ff, #0cea1e);
      }
      & .back{
          transform: translateZ(-50px);   
          background: linear-gradient(45deg, #d4ff00, #efb514);
      }
      & .top{
          transform: rotateX(90deg) translateZ(50px);
          background: linear-gradient(45deg, #2fff00, #bdd846);
      }
      & .bottom{
          transform: rotateX(90deg) translateZ(-50px);
          background: linear-gradient(45deg, #ff00f2, #9500ff);
      }
      & .left{
          transform: rotateY(90deg)translateZ(50px);
          background: linear-gradient(45deg, #ff0000, #ff00d9);
      }
      & .right{
          transform: rotateY(90deg)translateZ(-50px);
          background: linear-gradient(45deg, #ffb300, #f90404);
      }
    }
    & :hover{
        cursor: pointer;
    }
}
@keyframes spin{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}