.container{
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-right:10px ;

    & .menu{

        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(19, 94, 117, 0.541);
        padding: 10px 0px;
        z-index: 100;
    & ul{
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        & li {
            margin-right: 20px;
            & a{
                text-decoration: none;
                font-size: 17px;
                font-weight: 600;
                color: white;
                padding: 5px 10px;
                transition: backgrond-color 0.3s;
                &:hover{
                    border-radius: 40px;
                    background-color: rgb(109, 228, 255);
                    color:#f5f5f5;
                }
                &:active{
                    font-weight: 700;
                    color: aqua;
                    &::after{
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }
    & .logoUam{
        width: auto;
        max-height: 70px;
        margin: 0 20px;
    }
        .avatar-container{
            display: flex;
            align-items: center;
            & img.avatar{
                max-width: 60px;
                height: auto;
                border-radius: 50%;
                border: #f5f5f5 solid 2px;
            }
        }

    
}
& .content{
    padding-left: 40px;
    padding-right: 40px;
}
}
#check{
    display: none;
}
.icons{
    color: black;
    font-size: 30px;
    display: none;
    cursor: pointer;
}
@media (max-width: 768px ){
    
    #check:checked~.icons #menu_icon{
        display: none;
    }
    .icons #close_icon{
        display: none;
        
    }
    #check:checked~.icons #close_icon{
        display: block;
    }
    .menu{
        justify-content: space-between;
        transition: .3s ease;
    }
    .icons{
        display: block;
    }
    .logoUam{
        display: none;
    }
    
    ul{
        overflow: hidden;
        align-content: flex-start;
        position: absolute;
        flex-direction: column;
        margin-top: 75px; ;
        top: 0%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgb(192, 234, 238);
        transition: .3s ease;
        backdrop-filter: blur(50px);
    }
    ul a{
        display: block;
        text-align: center;
    }
    #check:checked~ul{
        height: 14.7rem;
        overflow: visible;
    }
}
.Log{
    
    margin-right: 20px;
    a{
        color: white;
        text-decoration: none;
    }
    :hover{
        font-weight: bolder;
    }
}